html{
    font-size: 16px 
}

body{
    margin:0;
    padding:0;
    width: 500px;
    margin: auto;
    font-family: 'Share Tech Mono', monospace;
}

nav{
    background-color:rgba(28, 144, 221, 0.5);
    border-radius: 15px;
}

main{
    width:80%;
    background-color: aquamarine;
    height: 500px;
    display:inline-block;
    vertical-align: middle;
}

aside{
    width: 20%;
    background-color: bisque;
    height: 500px;
    display:inline-block;
    vertical-align: middle;
}

section{
    padding: 0 5px;
}

header{
    height: 75px;
}

footer{
    height: 50px;
    background-color: black;
    margin-bottom: 5px;
}

header div {
    display:inline-block;
}


/* Estilos del article */

.article-header{
    height: auto;
}

.article-div p{
    font-size: 0.5rem;
    text-align: justify;
    padding: 3px;
}

.article-div{
    display:inline-block;
    width:75%;
    vertical-align: middle;
}

.div-img{
    display:inline-block;
    width:25%;
    vertical-align: middle;
}

.article-footer{
    height: 50px;
    background-color: aquamarine;
    margin-bottom: auto;
}

/* fin de estilos del article */




.portfolio{
    width: 85%;
    text-align: center;
    vertical-align: bottom;
}

#logo{
    width: 75px;
    height: 75px;
    background-image: url("/assets/img/calmanos.jpg");
    background-size: cover;
    /* font-size: 0; */
    overflow: hidden;
    text-indent: -400px;
    display: inline-block;
    margin: 0;


}

#float-container{
    overflow: hidden;
}

#green-container{
    background-color: green;
    height: 75px;
    float:left;
}

#pink-container{
    background-color: pink;
    height: 75px;
    float:left;
}

#orange-container{
    background-color: orange;
    height: 75px;
    float:left;
}

#blue-container{
    background-color: blue;
}

/* Propiedades para posicionamiento */

#position-1{
    /* aplica la propiedad float */
    background-color: blue;
    width: 75px;
    height: 75px;
    overflow: hidden;
    display: inline-block;
    position: static;

}

#position-2{
    /* aplica la propiedad float */
    background-color: red;
    width: 75px;
    height: 75px;
    position: relative;
    float: right;
   
    
}

#position-3{
    /* no aplica la propiedad float */
    background-color: yellow;
    width: 75px;
    height: 75px;
    display: inline-block;
    position: absolute;

    
}

#position-4{
    /* no aplica la propiedad float */
    background-color: black;
    width: 75px;
    height: 75px;
    display: inline-block;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;    
}

.logo img, .article-img{
    width: 100%;
}


.nav-principal ul li{
    display: inline-block;
}

.nav-principal ul li a{
    text-decoration: none;
}

.nav-principal ul {
    text-transform: none;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 0.8rem;
}

.nav-principal ul:hover {
    text-transform: uppercase;
    font-size: 0.8rem;
}

.letras{
    font-size: 0.5rem;
    display: inline-block;
}

.relative1{
    width: 10%;
    overflow:auto;
    vertical-align: middle;
}

.relative2{
    width: 90%;
    vertical-align: middle;
}

.em-use{
    font-size: 1em;
}