body{
    margin:0;
    padding:0;
    width: 500px;
    margin: auto;
    font-family: 'Share Tech Mono', monospace;
}

nav{
    background-color:rgba(28, 144, 221, 0.5);
    border-radius: 15px;
}

main{
    width:80%;
    background-color: aquamarine;
    height: 500px;
    display:inline-block;
    vertical-align: middle;
}

aside{
    width: 20%;
    background-color: bisque;
    height: 500px;
    display:inline-block;
    vertical-align: middle;
}

section{
    padding: 0 5px;
}

header{
    height: 75px;
}

footer{
    height: 50px;
    background-color: black;
    margin-bottom: 5px;
}

header div {
    display:inline-block;
}


/* Estilos del article */

.article-header{
    height: auto;
}

.article-div p{
    font-size: 8px;
    text-align: justify;
    padding: 3px;
}

.article-div{
    display:inline-block;
    width:75%;
    vertical-align: middle;
}

.div-img{
    display:inline-block;
    width:25%;
    vertical-align: middle;
}

.article-footer{
    height: 50px;
    background-color: aquamarine;
    margin-bottom: auto;
}

/* fin de estilos del article */




.portfolio{
    width: 85%;
    text-align: center;
    vertical-align: bottom;
}

#logo{
    width: 75px;
    height: 75px;
    background-image: url("/assets/img/calmanos.jpg");
    background-size: cover;
    /* font-size: 0; */
    overflow: hidden;
    text-indent: -400px;
    display: inline-block;
    margin: 0;


}

.logo img, .article-img{
    width: 100%;
}


.nav-principal ul li{
    display: inline-block;
}

.nav-principal ul li a{
    text-decoration: none;
}

.nav-principal ul {
    text-transform: none;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 13px;
}

.nav-principal ul:hover {
    text-transform: uppercase;
    font-size: 13px;
}

.letras{
    font-size:8px;
    display: inline-block;
}

.relative1{
    width: 10%;
    overflow:auto;
    vertical-align: middle;
}

.relative2{
    width: 90%;
    vertical-align: middle;
}